@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:wght@500&display=swap'); 

li, a, button {
  font-family: "Clicker-Script", sans-serif;
  font-weight: 500;
  font-weight: 16px;
  color: white
  text-decoration: none
}

nav li a{
  transition: all 0.3s ease 0s;
}

nav li a:hover{
  color: purple;
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rosybrown;
}

nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

nav li {
  display: block;
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
    background-color: rgb(253, 162, 170);
}

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 32px;
}

h2 {
  font-family: clickerscript;
  font-weight: bold;
  color: #fff;
  font-size: 80px;
}

.photos {
  display: flex;
  flex-direction: column;
  border: 10px solid goldenrod;
}

.photo-row {
  border: 5px solid red;
  display: flex;
}

.photo-wrapper {
  border: 5px solid greenyellow;
  margin-right: 20px;  
}
.photo-wrapper:last-child {
    margin-right: 0;
}

.pending-photo {
  width: 100%;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  color-interpolation-filters: pink;
}

.profile {
  margin: 10px;
}

.profile img {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border-style: solid #fff;
}
.profile {
    max-width: 200px;
    max-height: 200px;
    background: white;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
  }
    
  footer {
    background-color: #FFF;
    color: white;
    padding: 30px;
  }  
  .fa {
      color: black;
      font-size: 50px;
  
  }

  .footer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.footer li {
  display: block;
  list-style: none;
}

.footer  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: grey;
}

.logo {
  width: 50px;
  height: 50px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border-style: solid #fff;
}
.logo {
    max-width: 50px;
    max-height: 50px;
    background: white;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
}
