<!DOCTYPE html>
<html lang="en">
    <footer>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>Women in Tech</title>
          <meta name="description" content="Showcasing women in tech." />
          <meta name="author" content="Abby Carter" />
          <link rel="stylesheet" href="/stylesheets/styles.css" />
    </footer>

    <a href= "https://twitter.com/shecodesaus" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/twitter.png"></a>
    
    <body>


<!-- <footer>
    The Footer
</footer>
</body>
</html> -->