<!DOCTYPE html>
<html lang="en">
    <footer>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>Women in Tech</title>
          <meta name="description" content="Showcasing women in tech." />
          <meta name="author" content="Abby Carter" />
          <link rel="stylesheet" href="/stylesheets/styles.css" />
        </footer>

    <a href= "https://twitter.com/shecodesaus" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/TW.png"></a>
    <a href= "https://www.facebook.com/shecodesaustralia/" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/FCB.png"></a>
    <a href= "https://shecodes.com.au" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/SC.png"></a>
    <a href= "https://www.instagram.com/shecodesaus/?hl=en/" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/IG.png"></a>
    <a href= "https://www.linkedin.com/company/shecodesaustralia/?originalSubdomain=au" target="_blank" rel="noopener noreferrer"><img class='logo' src="/images/LI.png"></a>
    <body>


<!-- <footer>
    The Footer
</footer>
</body>
</html> -->