<!DOCTYPE html>
<html lang="en">
    <head>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>Women in Tech</title>
          <meta name="description" content="Showcasing women in tech." />
          <meta name="author" content="Abby Carter" />
          <link rel="stylesheet" href="/stylesheets/styles.css" />
    </head>
    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="/images/witlybanner.gif">
                    <h1><img src="/images/witlybanner.gif"></h1>
                </a>
            </div>
            <div class="bg-img">
                <div class="container">
                  <div class="topnav">
                    <a href="#home">Home</a>
                    <a href="#profiles">Profiles</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a>
                    <a href="#login">Login</a>
                  </div>
                </div>
              </div>
        </header>

            <!-- {% include './nav.html' %} -->

            <!-- <nav>
                <a href="">Home</a>
                {% if request.user.is_authenticated %}
                    <a href="#">{{ user.user }}</a>
                    <a href="">Logout</a>
                {% else %} #double check with cohort
                    <a href="">Login</a>
                    <a href="">Create Account</a>
                {% endif %}
                </nav> -->