<!DOCTYPE html>
<html lang="en">
    <head>
          <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>Women in Tech</title>
          <meta name="description" content="Showcasing women in tech." />
          <meta name="author" content="Abby Carter" />
          <link rel="stylesheet" href="/stylesheets/styles.css" />
    </head>
    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="/images/witlybanner.gif">
                    <h1><img src="/images/witlybanner.gif"></h1>
                </a>
            </div>
            <nav class="bg-img">
                      <ul class="nav-links">
                      <li><a href="/">Home</a></li> 
                      <li><a href="/contact">Contact</a></li> 
                      <li><a href="/about">About</a></li> 
                    </ul>
                    <% if (user !== null) { %>
                        <p>You are logged in as <%= user.username %></p>
                        <% } %>
                    <% if (user !== null) { %>
                        <a href="/profile" class="publish"> Publish</a>
                        <a href="/logout" class="log_in_out">Logout</a>
                    <% } else { %>
                        <a href="/create-account" class="create-account_button">Create Account</a>
                    <% } %>
                    <form id="search-form" action="/" method="GET">
                        <input name="name" id="name-query" type="text" />
                        <input type="submit" value="Search" />
                      </form>
                    <a class="cta" href="/login">Login</a>
            </nav>
       </header>

        <div class="navbar">
        </div>

            